@font-face {
  font-family: "SatoriTRIAL";
  src: url("./assets/fonts/SatoriTRIAL-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SatoriTRIAL";
  src: url("./assets/fonts/SatoriTRIAL-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SatoriTRIAL";
  src: url("./assets/fonts/SatoriTRIAL-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SatoriTRIAL";
  src: url("./assets/fonts/SatoriTRIAL-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}


body {
  font-family: "SatoriTrial", sans-serif;
  background-color: rgb(114, 114, 114);
}
